<h2>Choose two players</h2>
<select name="first" id="first" [(ngModel)]="firstInput">
  <option value="{{player.id}}" *ngFor="let player of players">
    {{player.name}}
  </option>
</select>
<br>
<select name="second" id="second" [(ngModel)]="secondInput">
  <option value="{{player.id}}" *ngFor="let player of players">
    {{player.name}}
  </option>
</select>
<br>
<button type="button" (click)="getStatistics();">Predict</button>

<div *ngIf="statistic.winner_id > 0">
<br>
<br>
The winner is {{statistic.win_chance * 100}} percent likely to be {{getPlayerName(statistic.winner_id)}}
</div>
