<h2>Choose two players</h2>
<table>
<tr>
<td width="500">
First player filter: <input name="p1filter" [(ngModel)]="myFilterP1" (ngModelChange)="filterPlayers()"><br>
First player: <select name="first" id="first" [(ngModel)]="firstInput">
  <option value="{{player.id}}" *ngFor="let player of filtered_players_p1">
    {{player.name}}
  </option>
</select>
</td>
<td width="100"></td>
<td width="500">
Second player filter: <input name="p2filter" [(ngModel)]="myFilterP2" (ngModelChange)="filterPlayers()"><br>
Second player: <select name="second" id="second" [(ngModel)]="secondInput">
  <option value="{{player.id}}" *ngFor="let player of filtered_players_p2">
    {{player.name}}
  </option>
</select>
</td>
</tr>
</table>
<button type="button" (click)="getStatistics();">Predict</button>


<div *ngIf="statistic[0].title != ''">
<table>
<tr *ngFor="let prediction of statistic">
<td>{{prediction.title}}</td>
<td>{{prediction.line1}}</td>
<td>{{prediction.line2}}</td>
<td>{{prediction.line3}}</td>
</tr>
</table>
<br>
</div>
