<html>
<body>
<form action="api/scrape" method="post">
    Start index: <input type="text" name="start" value="0"><br>
    End index: <input type="text" name="end" value="1"><br>
    Tournament: <input type="text" name="tournament" value="15001"><br>
    <button type="submit" name="tourney_button" value="">
        Collect Tourney Results
    </button>
</form>
<br>
<br>
<form action="api/genstats" method="post">
    Start timestamp: <input type="text" name="start" value="1586605800"><br>
    End timestamp: <input type="text" name="end" value="1635611400"><br>
    <button type="submit" name="genstat_button" value="">
        Generate player statistics
    </button>
</form>
<br>
<br>
<form action="api/players" method="get">
    <button type="submit" name="get_all_players" value="">List all players</button>
</form>
<br>
<br>
<form action="api/predictions" method="get">
    Player 1: <input type="text" name="p1" value="345226"><br>
    Player 2: <input type="text" name="p2" value="345227"><br>
    Prediction Type:
    <select name="prediction" id="prediction">
        <option value="WINNER">Winner</option>
        <option value="TOTAL_POINTS">Total Points</option>
        <option value="NUMBER_OF_GAMES">Number of Games</option>
        <option value="THIRD_GAME">Third Game Winner</option>
        <option value="EXTRA_POINTS">Games Won by Extra Points</option>
        <option value="ALL">Everything!</option>
    </select>
    <br>
    <button type="submit" name="prediction_button" value="">Make prediction</button>
</form>
<br>
<br>
<form action="api/single_player_stats" method="get">
    Player 1: <input type="text" name="p1" value="345226"><br>
    <button type="submit" name="single_stat_button" value="">Get stats for a player</button>
</form>
<br>
<br>
<form action="api/vs_stats" method="get">
    Player 1: <input type="text" name="p1" value="345226"><br>
    Player 2: <input type="text" name="p2" value="343693"><br>
    <button type="submit" name="vs_stat_button" value="">Get Vs. Stats</button>
</form>
<br>
<br>
<form action="api/user" method="post">
    Email: <input type="text" name="email" value="fake@gmail.com"><br>
    <button type="submit" name="user_button" value="">Check user</button>
</form>
</body>
</html>